macro_swe_ao: macro_swe_ao{
compatible = "zmk,behavior-macro";
label = "macro_swe_ao";
#binding-cells = <0>;
bindings 
= <&macro_press   &kp LALT>
, <&macro_tap     &kp KP_N0 &kp KP_N2> &kp KP_N2 &kp KP_N9>
, <&macro_release &kp LALT>;
};
